# .env.example
# Deriv API Configuration
VITE_DERIV_APP_ID=33433
VITE_DERIV_TOKEN=Hg9jpSr2XL9wz1D
VITE_DERIV_CLIENT_ID=
VITE_DERIV_REDIRECT_URI=

# Firebase Configuration
VITE_FIREBASE_API_KEY=32XhlOqFjz1VagaEisvh8
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
